.HowItWorks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.title {
    flex: 1;
    font-weight: 600;
    font-size: 36px;
}

.flowchart {
    flex: 9;
}