.Testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.title {
    font-weight: 600;
    font-size: clamp(24px, 6.4vw, 48px);
    margin: 7.5px;
}

.subtitle {
    font-size: clamp(16px, 4.28vw, 24px);
    margin: 7.5px 20px 44px 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    margin-top: 30px;
}
.btnContainer a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 600px) {
    .title {
        font-size: clamp(24px, 6vw, 44px);
    }
    .subtitle {
        font-size: clamp(16px, 4.28vw, 20px);
    }
}