.Blogs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    /* background-color: #E8EAED; */
}

.title {
    font-weight: 600;
    font-size: clamp(24px, 6.4vw, 48px);
    margin: 7.5px;
}

.subtitle {
    font-size: clamp(16px, 4.28vw, 24px);
    margin: 7.5px 20px 22px 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel a {
    text-decoration: none;
    color: black;
}

.btnContainer {
    margin: 30px 0;
}
.btnContainer a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 600px) {
    .header {
        margin-top: 15px;
    }
    .title {
        font-size: clamp(24px, 6vw, 36px);
    }
    .subtitle {
        font-size: clamp(16px, 4.28vw, 20px);
    }
}
@media only screen and (min-width: 768px) {
    .Blogs {
        background: url(./background.png) no-repeat center;
        background-size: contain; 
    }
}
@media only screen and (min-width: 1440px) {
    .Blogs {
        background-size: cover;
    }
}