.section {
    padding: 4px 0;
}

.header {
    all: unset;
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: 100%;
    margin: 1px auto;
    cursor: pointer;
}

.header p {
    margin: 0 8px;
    font-size: 14px;
    text-align: left;
}

.headerIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerIcon svg {
    margin-right: 10px;
}

.filterOptions {
    scrollbar-width: 0;
    /* background-color: #DADEE4; */
    /* background-color: #E5E5E5; */
    background-color: white;
    -ms-overflow-style: none;
}

.filterOptions::-webkit-scrollbar {
    display: none;
}

.option {
    all: unset;
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.option div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12px;
}

.optionExpLabel {
    font-weight: 300;
    font-size: 14px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
    margin: 2px 10px;
    text-align: left;
}

.checkbox svg {
    margin-right: 10px;
}

.sliderContainer {
    max-height: 120px;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.sliderContainer::-webkit-scrollbar {
    display: none;
}
.sliderContainer p {
    text-align: left;
    font-size: 14px;
    margin: 1px 30px;
}

.searchBox {
    all: unset;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 12px auto;
    padding: 4px 12px;
    width: 96%;
    text-align: left;
}