.section {
    padding: 4px 0;
}

.header {
    all: unset;
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: 100%;
    margin: 1px auto;
}

.header p {
    margin: 0 8px;
    text-align: left;
}

.headerIcon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headerIcon svg {
    margin-right: 10px;
}

.filterOptions {
    scrollbar-width: 0;
    -ms-overflow-style: none;
}

.filterOptions::-webkit-scrollbar {
    display: none;
}

.option {
    all: unset;
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.optionExpLabel {
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0 10px;
    text-align: left;
}

.checkbox svg {
    margin-right: 10px;
}

.sliderContainer {
    max-height: 120px;
    background-color: #E8EAED;
}
.sliderContainer p {
    text-align: left;
    margin: 1px 30px;
}

.searchBox {
    all: unset;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 12px auto;
    padding: 4px 12px;
    width: 96%;
    text-align: left;
}