.FilterSort {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
}

.tabs {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: white;
    z-index: 9999;
}

.tab {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.tab p {
    font-size: 16px;
    margin: 12px 4px;
}

.expanded {
    max-height: 60vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -52px;
    background: white;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.expanded::-webkit-scrollbar { display: none; }

.option {
    all: unset;
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.optionExpLabel {
    font-weight: 300;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0 10px;
    text-align: left;
}

.sortExp p {
    text-align: left;
    margin: 7.5px 10px;
}

@media only screen and (min-width: 1024px) {
    .FilterSort {
        display: none;
    }
}