.BusinessDetails {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(0,0,0,0.5); */
    background-color: #E5E5E5;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 74px;
}

.selectedBusiness {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 15px 6%;
}

.title {
    font-weight: 600;
    font-size: clamp(24px, 6.4vw, 36px);
    margin: 10px 0;
}

.detailsCard {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 80%;
    max-width: 330px;
    padding: 20px;
    margin: 10px 0;
}

.businessDesc {
    font-size: 18px;
    text-align: justify;
    margin: 0;
}

.businessInfo {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    text-align: left;
    margin: 15px auto;
}

.businessInfoRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: 1.48fr 2fr; */
    margin: 5px 0;
}

.businessInfoLabel {
    color: #484848;
    font-weight: 300;
    font-size: clamp(14px, 4vw, 16px);
}

.businessInfoValue {
    color: black;
    font-weight: 300;
    font-size: clamp(14px, 4vw, 16px);
    overflow:  hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.businessRegRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.businessRegRow p {
    margin: 5px 0;
    font-size: 14px;
}
.regAvailable {
    color: #55B546;
}
.regNotAvailable {
    color: #FF3232;
}

.balancesheet {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 80%;
    max-width: 330px;
    padding: 20px;
    margin: 10px 0;
}

.bsDiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bsImg {
    background: #C4C4C4;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: 20px 0;
}

.bsDiv2 {
    margin-top: 40px;
}

.otherBusinesses {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
    .selectedBusiness {
        display: grid;
        width: 100%;
        grid-template-columns: 1.5fr 1fr;
    }
    .header {
        margin: 45px 0 30px 0;
    }
    .detailsCard, .balancesheet {
        height: 498px;
        width: 84%;
        max-width: unset;
    }
    .detailsCard {
        margin: 0 15px 0 30px;
        justify-self: flex-end;
    }
    .balancesheet {
        /* margin: 0 30px 0 15px; */
        justify-self: flex-start;
    }
    .businessDesc {
        font-size: clamp(16px, 1.6vw, 24px);
    }
    .businessInfoRow {
        grid-template-columns: 1.6fr 2fr;
    }
    .businessInfoLabel, .businessInfoValue, .businessRegRow p {
        font-size: clamp(14px, 1.25vw, 18px);
    }
    .bsDiv1 p, .bsDiv2 p  {
        font-size: clamp(16px, 1.4vw, 20px);
    }
    .bsDiv2 {
        margin-top: 90px;
    }
}

@media only screen and (min-width: 1338px) {
    .detailsCard, .balancesheet {
        /* margin: 0 auto; */
        height: 522px;
    }
}