.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.splashContainer {
    height: 80vh;
    width: 100%;
    display: flex;
    font-size: 30px;
    background: url('./group-of-person-sitting-indoors-3184306\ 1.jpg') center no-repeat;
    background-size: auto;
}

.splash {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline {
    line-height: 150%;
    font-weight: 600;
    font-size: clamp(30px, 1.25rem, 54px);
    margin: 0 20px;
}

.panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 89%;
    margin-top: -108px;
    padding: 5px 0;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.optionLabel {
    font-weight: 500;
    font-size: clamp(18px, 1.25rem, 24px);
    margin: 10px 0;
}

.optionBtn {
    margin: 5px auto !important ; 
    padding: 0 16px !important;
}


@media only screen and (min-width: 540px) and (max-width: 571px) {
    .panel {
        margin-top: -68px;
    }
}

/* Panel becomes horizontal */
@media only screen and (min-width: 572px) {
    .panel {
        margin-top: -88px;
        padding: clamp(8px, 20px, 28px) 0;
        width: 84%;
    }
    .optionLabel {
        margin: 20px 0;
    }
    .optionBtn {
        padding: 4px 16px !important;
    }    
}