.Signup {
    display: flex;
    background-color: #4AB9CA;
    /* background-color: rgba(0,0,0,0.5); */
    /* background-color: #E5E5E5; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header {
    margin: 15px 6%;
}

.title {
    font-weight: 600;
    font-size: clamp(24px, 6.4vw, 36px);
    margin: 10px 0;
}

.subtitle {
    font-weight: 300;
    font-size: clamp(12px, 3.2vw, 16px);
    margin: 10px 0;
}
.subtitle a {
    color: #4AB9CA;
    text-decoration: none;
}
.subtitle a:hover {
    text-decoration: underline;
}

.form {
    background-color: white;
    width: 88%;
    margin: 86px 0 20px 0;
    border-radius: 10px;
    padding: 20px 0;
    min-height: 51vh;
    display: grid;
    grid-template-rows: 0.1fr 0.5fr 0.1fr;
}

.formGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7.5px 16px;
    text-align: left;
}

.inputLabel {
    font-size: clamp(14px, 3.8vw, 18px);
    margin: 2.5px 0;
    width: 96%;
}

.inputField {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    min-height: 40px;
    margin: 2.5px 0;
    padding-left: 8px;
    font-size: 16px;
    font-family: "Poppins";
    width: 96%;
}

.inputField:focus {
    outline: none;
}

.mobileNoFields {
    display: grid;
    grid-template-columns: 1.6fr 8.4fr;
    column-gap: 2px;
    width: 98%;
}

.mobileNoFields input {
    margin: 0 auto;
}

.submitBtn {
    padding: 10px 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 425px) {
    .mobileNoFields {
        grid-template-columns: 1.5fr 8.5fr;
    }
}

@media only screen and (min-width: 512px) {
    .nameFields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px) {
    .contactFields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .mobileNoFields {
        grid-template-columns: 2fr 8fr;
    }
}

@media only screen and (min-width: 1024px) {
    .form {
        width: 64%;
    }
    .formFields {
        width: 84%;
        margin: 15px auto;
    }
    .inputLabel {
        font-size: clamp(16px, 1.4vw, 22px);
    }
    .inputField {
        font-size: clamp(18px, 1.2vw, 20px);
    }
    .submitBtn {
        padding: 12px 52px;
    }
}

@media only screen and (min-width: 1440px) {
    .form {
        grid-template-rows: 0.4fr 0.4fr 0.5fr;
    }
    .mobileNoFields {
        grid-template-columns: 1.5fr 8.5fr;
    }
}