.BusinessShowcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #4AB9CA;
}

.header {
    color: white;
}

.title {
    font-weight: 600;
    font-size: clamp(24px, 6.4vw, 48px);
    margin: 7.5px;
}

.subtitle {
    font-size: clamp(16px, 4.28vw, 24px);
    margin: 7.5px 20px 44px 20px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnContainer {
    margin: 30px 0;
}
.btnContainer a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 600px) {
    .header {
        margin-top: 15px;
    }
    .title {
        font-size: clamp(24px, 6vw, 36px);
    }
}